*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}

/* <-------------- Identify Abuse CSS ---------------> */


.abuse-section{
    padding-top: 80px;
    height: 200vh;
}

.abuse-container{
    margin: 0 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.abuse-hero-content{
    font-size: 2.5rem;
    color: #a83e92;
}